name: release-please

on:
  push:
    branches: [main]

concurrency:
  group: release-please

jobs:
  update-draft:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.RELEASER_APPID }}
          private-key: ${{ secrets.RELEASER_PRIVATE_TOKEN }}
      - uses: googleapis/release-please-action@v4
        with:
          release-type: go
          bump-minor-pre-major: true
          token: ${{ steps.app-token.outputs.token }}
