name: tests

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    if: "!startsWith(github.head_ref, 'release-')"
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version-file: 'go.mod'
    - run: go build -v ./...

  lint:
    if: "!startsWith(github.head_ref, 'release-')"
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - uses: brokeyourbike/go-mockery-action@v0.1
        with:
          mockery-version: '2.53.3'
      - run: make mock
      - uses: dominikh/staticcheck-action@v1
        with:
          version: '2025.1.1'
          install-go: false

  unit:
    if: "!startsWith(github.head_ref, 'release-')"
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version-file: 'go.mod'
    - uses: brokeyourbike/go-mockery-action@v0.1
      with:
        mockery-version: '2.53.3'
    - run: make mock
    - run: make test